

.card {
    max-width: 500px;
    max-height: 300px;
    margin: 20px;
    border-radius: 5px;
}
a {
    text-decoration: none;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 250px;
    height: 175px;
    padding: auto;
    margin: 2px;
}