a {
    text-decoration: none;
    color: white;
    margin: 20px;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
mat-toolbar {
    display: flex;
}

.end {
    margin-left: auto;
}